* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 900px;
    margin: 0 auto;
}

.card-container {
    width: calc((100% - 2em) / 3);
}

.card-container img {
    width: 100%;
}

.card {
    position: relative;
}

.card-text {
    text-align: center;
}
